<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>menadzer</title>

  </head>

  <body>
    <div class="container">
      <div class="nav">
        <div>
          <a href="/">UPLOAD</a>
        </div>
        <div>
          <a href="/filemenager">FILEMENAGER</a>
        </div>
        <div>
          <a href="/info">INFO</a>
        </div>
      </div>
    </div>
    {{{body}}}

  </body>

</html>