<div class="left-side">
    <h2>
        multiupload
    </h2>
</div>
<div class="right-side">
    <div class="form">
        <form enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" multiple required accept="image/*" name="imagetoupload" />
            <input type="submit" value="Wyslij" />
        </form>
    </div>
</div>